<div class="main-nav-menu-container">
	<ul id="menu-main-nav">
		<li id="main-menu-item">
			<a href="#" style="font-weight: 600;">Vehicle Repair</a>
			<ul id="main-vehicle-repair">
	            <li><a href="#">Car / SUV / Van</a></li>
	            <li><a href="#">Truck</a></li>
	            <li><a href="#">Motorcycle</a></li>
	            <li><a href="#">RV / Trailer</a></li>
	            <li><a href="#">Boat / Watercraft</a></li>
	            <li><a href="#">Snowmobile</a></li>
	            <li><a href="#">ATV</a></li>
	            <li><a href="#">Other</a></li>
	        </ul>
		</li>
		<li id="main-menu-item">
			<a href="#" style="font-weight: 600;">Vehicle Sales</a>
			<ul id="main-vehicle-sales">
	            <li><a href="#">Car / SUV / Van</a></li>
	            <li><a href="#">Truck</a></li>
	            <li><a href="#">Motorcycle</a></li>
	            <li><a href="#">Classic Cars</a></li>
	            <li><a href="#">RV / Trailer</a></li>
	            <li><a href="#">Boat / Watercraft</a></li>
	            <li><a href="#">Snowmobile</a></li>
	            <li><a href="#">ATV</a></li>
	            <li><a href="#">Other</a></li>
	        </ul>
		</li>
		<li id="main-menu-item">
			<a href="#" style="font-weight: 600;">Specialty</a>
			<ul id="main-specialty">
	            <li><a href="#" class="specialty">Fluid Change</a></li>
	            <li><a href="#" class="specialty">Tire Service</a></li>
	            <li><a href="#" class="specialty">Body Shops</a></li>
	            <li><a href="#" class="specialty">Windshield Repair / Replacement</a></li>
	            <li><a href="#" class="specialty">Tinting</a></li>
	            <li><a href="#" class="specialty">Detailing</a></li>
	            <li><a href="#" class="specialty">Car Wash</a></li>
	            <li><a href="#" class="specialty">Audio / Video Installation</a></li>
	            <li><a href="#" class="specialty">Key Make / Repair</a></li>
	            <li><a href="#" class="specialty">Restoration</a></li>
	            <li><a href="#" class="specialty">Junk Yard</a></li>
	            <li><a href="#" class="specialty">Scrap Removal</a></li>
	            <li><a href="#" class="specialty">Traffic Tickets</a></li>
	            <li><a href="#" class="specialty">Driving School</a></li>
	            <li><a href="#" class="specialty">Delivery</a></li>
	            <li><a href="#" class="specialty">Other</a></li>
	        </ul>
		</li>
		<li id="main-menu-item" style="position:relative; top: 325px; ">
			<a href="#" style="font-weight: 600;">Rentals</a>
			<ul id="main-specialty">
	            <li><a href="#">Car / SUV / Van / Truck</a></li>
	            <li><a href="#">Limo</a></li>
	            <li><a href="#">Taxi</a></li>
	            <li><a href="#">Bus</a></li>
	            <li><a href="#">Luxury Vehicles</a></li>
	            <li><a href="#">Exotic</a></li>
	            <li><a href="#">Other</a></li>
	        </ul>
		</li>
		<li id="main-menu-item" style="margin-top: 325px; ">
			<a href="#" style="font-weight: 600;">Advice / Tips</a>
			<ul id="main-advice">
	            <li><a href="#">Diagnose / Find Problem</a></li>
	            <li><a href="#">Estimate Cost</a></li>
	            <li><a href="#">How-To-Guides</a></li>
	            <li><a href="#">Auto Answers</a></li>
	            <li><a href="#">News</a></li>
	            <li><a href="#">Reviews</a></li>
	            <li><a href="#">Forums</a></li>
	            <li><a href="#">Other</a></li>
	        </ul>
		</li>
	</ul>
</div>
